{% extends "base/base.html" %}

      {% block content %}
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="container">Students</h1>
            </div>
            <div class="bs-component">
              <div class="jumbotron">
                <h1>Student List</h1>
                <ul class="list-group">
                  {% for student in students %}
                  <li class="list-group-item">
                      <a href="/student/{{ student.id }}/">
                          {{ student.last_name }} {{ student.first_name }}
                      </a>
                      <a href="/student/edit/{{ student.id }}/">
                          Edit
                      </a>
                  </li>
                  {% endfor %}
                  <a href="/student/add/">
                          Add
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>
    {% endblock content %}
