{% extends "base/base.html" %}

      {% block content %}
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="container">Coaches</h1>
            </div>
            <div class="bs-component">
              <div class="jumbotron">
                <h1>Coach List</h1>
                <ul class="list-group">
                  {% for coach in coaches %}
                  <li class="list-group-item">
                    <a href="{% url 'coach_info' coach.id %}">
                    {{ coach.last_name }} {{ coach.first_name }}
                    </a>
                    <a href="/coach/edit/{{ coach.id }}/">
                        Edit
                    </a>
                  </li>
                  {% endfor %}
                  <a href="/coach/add/">
                          Add
                  </a>
                </ul>
              </div>
            </div>
          </div>
        </div>

    </div>
    {% endblock content %}
