{% extends "base/base.html" %}

      {% block content %}
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              <h1 id="container">
                {{ object.first_name }} {{ object.last_name }}
                <small>{{ object.get_ctype_display }}</small>
              </h1>
            </div>
x            <div class="bs-component">
              <div class="jumbotron">
                <h1>Details</h1>
                <table class="table table-condensed table-hover">
                    <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{ object.email }}</td>
                        </tr>
                        <tr>
                            <td>Phone number</td>
                            <td>{{ object.phone_number }}</td>
                        </tr>
                        {% if object.course_set.all %}
                        <tr>
                            <td>Teaches courses</td>
                            <td>
                                {% for course in object.course_set.all %}
                                    {{ object.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif%}
                        {% if object.course_assistant.all %}
                        <tr>
                            <td>Asisstates courses</td>
                            <td>
                                {% for course in object.course_assistant.all %}
                                    {{ course.name }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>

    </div>
      {% endblock content %}
